black == 25.*
coverage[toml] == 7.*
mypy == 1.*
numpy == 2.*  # for linting and integ tests
pillow == 12.*  # for linting and integ tests
pytest == 8.*
pytest-asyncio == 1.*
pytest-cov == 7.*
pytest-xdist == 3.*
pywin32 ; sys_platform == 'win32'
ruff == 0.14.*
types-pyyaml == 6.*
twine == 6.*